/* Global  */

button {
  color: black;
  font-weight: 600;
  font-size: 20px;
  border: 2px solid;
  padding: 1.38rem 3.5rem;
  border-radius: 60px;
  background-color: white;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 70px;
}
nav a {
  margin-left: 1.75rem;
}
h1 {
  font-weight: 900;
  font-size: 6rem;
  margin: 0;
}
.border-line {
  height: 2px;
  background-color: #eeeeee;
  width: 100%;
}
/* NAV */
.nav-singup {
  color: #ff3998;
}
/* /NAV */

/* Hero */
.hero {
  display: flex;
  padding-top: 150px;
  align-items: center;
}
.hero-img {
  display: block;
}

.subtitle-hero {
  font-weight: 700;
  font-size: 16px;
  color: #ff3998;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.hero-paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  margin-top: 2rem;
  color: #555555;
}
/* /Hero */
/* Promotion */
.promo-box {
  position: relative;
  width: fit-content;
  padding-top: 182px;
}
.promo-text {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 4em 4em;
}
.promo-text h2 {
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.promo-text p {
  margin: 0;
  font-weight: 400px;
  font-size: 20px;
}
/* /Promotion */
/* Sponsors */
.sponsors {
  padding-top: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* /Sponsors */
/* Auction  */
.Auction-header {
  padding-top: 120px;
  padding-bottom: 56px;
}
.Auction-header h2 {
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.Auction-header a {
  font-weight: bold;
  text-decoration: underline;
}
.Auction-header p {
  margin: 0;
  font-weight: 400px;
  font-size: 20px;
  color: #555555;
}
.auctioninfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;
}
.article1 {
  display: inline-block;
  background-color: #eeeeee;
  border-radius: 16px;
}
.auction {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  gap: 40px;
}
/* /Auction  */

/* Promotion */
.promotion-smaller {
  font-size: 3.5rem;
}
.promotion {
  display: flex;
  gap: 233px;
}
/* /Promotion */
