/* Global  */

button {
  color: black;
  font-weight: 600;
  font-size: 20px;
  border: 2px solid;
  padding: 1.38rem 3.5rem;
  border-radius: 60px;
  background-color: white;
  margin-top: 41px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 70px;
  flex-wrap: wrap;
}
nav a {
  margin-left: 1.75rem;
  font-size: 20px;
  color: #555555;
}
ul {
  list-style-type: none;
  padding-right: 2rem;
}
h1 {
  font-weight: 900;
  font-size: 6rem;
  margin: 0;
}
li {
  margin-bottom: 1rem;
  color: #555555;
  font-size: 20px;
  font-weight: 400;
}
footer i {
  color: #999999;
  margin-right: 1rem;
}
footer img {
  margin-bottom: 30px;
}
footer h3 {
  margin-bottom: 32px;
}
.border-line {
  height: 2px;
  background-color: #eeeeee;
  width: 100%;
}
.border-line-top {
  height: 2px;
  background-color: #eeeeee;
  width: 100%;
  margin-bottom: 85px;
  margin-top: 120px;
}

/* /Global */

/* NAV */
.nav-singup {
  color: #ff3998;
  display: inline-block;
}
.meniu-mobile {
  display: none;
}
/* /NAV */

/* Hero */
.hero {
  padding-top: 150px;
  padding-bottom: 182px;
}
.hero-image {
  background-image: url(/assets/graphic.svg);
  background-repeat: no-repeat;
  background-position: 576px 45px;
}
.subtitle-hero {
  font-weight: 700;
  font-size: 16px;
  color: #ff3998;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.hero-paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  margin-top: 2rem;
  color: #555555;
}
/* /Hero */

/* Promotion */
.promo-box {
  width: 100%;
  height: 320px;
  background: url(/assets/background.svg);
  background-repeat: no-repeat;
  background-size: 1280px 320px;
  margin: 0;
}
.promo-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
  background-color: white;
}
.promo-text {
  padding-top: 154px;
  margin: 0 0 4em 4em;
}
.promo-text h2 {
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.promo-text p {
  margin: 0;
  font-weight: 400px;
  font-size: 20px;
}
/* /Promotion */

/* Sponsors */
.sponsors {
  padding-top: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* /Sponsors */

/* Auction  */
.Auction-header {
  padding-top: 120px;
  padding-bottom: 56px;
}
.Auction-header h2 {
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.Auction-header a {
  font-weight: bold;
  text-decoration: underline;
}
.Auction-header p {
  margin: 0;
  font-weight: 400px;
  font-size: 20px;
  color: #555555;
}
.auctioninfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.article1 {
  width: fit-content;
  background-color: #eeeeee;
  border-radius: 16px;
}
.auction {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
  gap: 40px;
}
.info-left {
  text-align: left;
  margin: 24px 0 24px 24px;
}
.info-right {
  text-align: right;
  margin: 24px 24px 24px 0;
}
.series {
  color: #ff8139;
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: 500;
}
.name-price {
  color: #111111;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 500;
}
.name-price-eth {
  display: flex;
  justify-content: space-between;
  color: #111111;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 500;
}
.s-number {
  color: #777777;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}
.top-bid {
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 12px;
  color: #777777;
}
/* /Auction  */

/* Promotion */
.promotion-smaller {
  font-size: 3.5rem;
}
.promotion {
  display: flex;
  align-items: center;
  gap: 285px;
  border-bottom: 2px solid #eeeeee;
}
/* /Promotion */

/* Footer */
.nav-title {
  color: #555555;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
}
.nav-footer ul {
  font-weight: 700;
  font-size: 16px;
  color: #555555;
  text-transform: uppercase;
}
.copyright {
  color: #999999;
  display: flex;
  justify-content: space-between;
  padding-bottom: 71px;
  padding-top: 123px;
}
.footer-nav {
  display: flex;
  padding-top: 120px;
  justify-content: space-between;
  align-items: center;
}
.nav-foot {
  display: flex;
  flex-wrap: wrap;
}
/* /Footer */

/* RESPONSIVE */

@media screen and (max-width: 428px) {
  /* GLobal */
  .container {
    padding: 0 32px;
  }
  h1 {
    font-size: 3rem;
  }
  button {
    margin-top: 31px;
  }
  .mobile-hide {
    display: none;
  }
  .border-line-top {
    margin: 92px 0 64px;
  }
  /* /Global */

  /* Meniu */
  .meniu {
    display: none;
  }
  .meniu-mobile {
    display: block;
    font-size: 22px;
    color: #999999;
  }
  nav {
    padding-top: 32px;
  }
  /* /Meniu */

  /* Hero  */
  .hero {
    padding: 80px 0 80px 0;
  }
  .hero-image {
    background-image: url(/assets/graphic.svg);
    background-repeat: no-repeat;
    background-position: 217px 10px;
    background-size: 94%;
  }
  .hero-paragraph {
    margin-right: 85px;
  }
  /* /Hero  */

  /* Promo */
  .promo-container {
    padding: 0;
  }
  .promo-box {
    background: url(/assets/background.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .promo-text {
    margin: 0;
    padding: 122px 32px 32px 32px;
  }
  .promo-text h2 {
    margin-bottom: 16px;
  }
  /* /Promo */
  /* Companys  */
  .sponsors {
    padding-top: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 27.5px;
    align-items: center;
    justify-content: center;
  }
  .shorter-image {
    width: 100px;
    overflow: hidden;
  }
  /* /Companys  */

  /* Auction */
  .Auction-header {
    padding-top: 56px;
    padding-bottom: 40px;
  }
  /* /Auction */
}
